* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/princess.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9e4fa;
}

/* Header Style */
header {
  background-color: #f53231;
  text-align: center;
  height: 10vh;
  color: white;
  padding-top: 12px;
}

.my_title {
  border: #fff 5px solid;
  border-radius: 30px;
  max-width: 10%;
  font-weight: bolder;
  margin: auto;
  padding: 0.7rem;
  font-size: 1rem;
}

/* ---------- */

h1 {
  margin: 2rem 0 0 4.5em;
  font-weight: bolder;
  color: #f53231;
}

ul {
  padding: 0;
}

.container,
.top-title {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 80%;
  margin: 2rem auto;
  justify-content: space-around;
  background-color: #fff;
  height: 55vh;
  border-radius: 30px;
}

.score {
  width: 50%;
}

.top-title {
  width: 80%;
  justify-content: space-between;
  padding: 1rem 0 0 0;
  margin-right: 8%;
}

.add-score,
.top-title {
  flex-basis: 30%;
  margin-top: 2%;
  color: #28a42b;
}

.board {
  margin: 3em  0 0 0;
  list-style-type: none;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #f4f4f4;
  width: 80%;
  min-height: 100px;
  max-height: 300px;
  overflow-y: scroll;
  opacity: 0.8;
}

.add-score {
  background-image: url('./img/mario_run.gif');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

.add-score input {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 0.4rem;
  background-color: #ececec;
}

.submit,
.refresh {
  background-color: #feb615;
  padding: 0.6rem 1rem;
  border: 1px solid #feb615;
  color: #fff;
  font-weight: bolder;
  opacity: 1;
}

.submit:hover,
.refresh:hover {
  cursor: pointer;
  box-shadow: 0 0 11px #ffbe30;
}

.board li {
  padding: 0.5rem;
}

.board li:nth-child(even) {
  background-color: rgb(214, 214, 214);
}

.message-ok {
  background-color: rgb(92, 224, 92);
  margin-top: 2rem;
  padding: 1rem;
  color: #fff;
}

.message-bad {
  background-color: #f53231;
  margin-top: 2rem;
  padding: 1rem;
  color: #fff;
}

.message-created {
  color: brown;
}

.message-hidden {
  display: none;
}
